.container {
    position: relative;
    display: flex;
    align-items: center;
    svg {
        position: absolute;
        left: 0;
        top: 0;
        width: 70px;
        fill: aliceblue;
        cursor: pointer;
        transition-duration: 0.2s;
        
        &:hover {
            transform: scale(1.1);
        }
    }
    .cabecalho {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        
        img{
            border-radius: 50%;
            width: 120px;
            height: 120px;
        }
    }
}