
.container{
    
    .card {
        position: relative;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 500px;
        height: 100%;
        border-radius: 8px;
        padding: 0;
        transition-duration: 0.2s;
        border: 1px solid transparent;
        h2 {
            color: aliceblue;
        }
        
        background-color: rgb(46, 46, 46);
        padding: 10px;
        
        img {
            width: 250px;
            height: 200px ;
        }

        
        .head {
            display: flex;
            width: 490px;
            height: 100px;
            padding: 6px;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            gap: 40px;
            background-color: rgba(28, 28, 28, 0.695);
            align-items: center;
            .foto-perfil {
                border-radius: 50%;
                width: 55px;
                height: 55px ;
                object-fit: cover;
                transition-duration: 0.2s;
                border: 1px solid transparent;

                &:hover {
                    border-color:#535bf2;
                    cursor: pointer;
                }
            }
        }

        .conteudo {
            display: flex;
            flex-direction: column;
            height: 500px;
            width: 100%;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
                height: 90%;
            }
        }
    }
}