.body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

p, h1 {
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    color: aquamarine;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .texto{
        width: 400px;
    }

    .links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;

        gap: 10px;
        
        .entre{
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid black;
            border-radius: 12px;
            height: 40px;
            width: 100%;
            transition-duration: 0.4s;

            svg {
                height: 32px;
            }

            &:hover {
                transform: scale(1.05);
            }

            a{
                text-decoration: none;
                color: black;
                font-family: Arial, Helvetica, sans-serif;
            }
        }
    }

    .login {
        display: flex;
        flex-direction: column;
        width: 100%;

        gap: 30px;

        svg {
            height: 32px;
        }

        label {
            font-weight: bolder;
            font-family: Arial, Helvetica, sans-serif;
        }


        .campo{
            display: flex;
            flex-direction: column;
            width: 100%;

            input{
                height: 30px;
                border: 1px solid grey;
                border-radius: 8px;
                padding-left: 20px;
            }

    }
    }

    button {
        background-color: black;
        color: white;
        height: 40px;
        border: none;
        border-radius: 12px;
        transition-duration: 0.4s;
        transition: transform 0.4s;

        &:hover {
            transform: scale(1.03);
        }

    }
}